@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

#cont_principal{
    display: flex;

}

#cont_principal_list{
    display: flex;
    justify-content: baseline;
    
}


/*Configs do menu lateral*/
.menuLateral {
    width: 300px;
    height: 110vh;
    background-color: RoyalBlue;
    padding: 10px;
    color: #fff;
    transform: translateX(-100%);
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 0px 5px #444;
  
}

.menuLateral.visible {
    background-color: rgba(135,206,250, 0.3);
    color: RoyalBlue;
}


.menuLateral.visible a:hover {
    background-color: #fff;
}

.menuLateral.visible a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px; /* Ajuste o espaçamento conforme necessário */
    display: block;
    color: RoyalBlue;
    font-family: 'Noto Sans', sans-serif;
}


.menuLateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ícone do menu */
.menu-toggle {
    cursor: pointer;
    text-align: center;
    padding-left: 200px;
}

/**/



/*Começa o formulário de cadastro*/

.card_cadastro{
    background-color: rgba(135,206,250, 0.3);
    width: 500px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    font-family: 'Noto Sans', sans-serif;
}

.card_cadastro_list{
    background-color: rgba(220,220,220, 0.2);
    width: 800px;
    height: auto;
    margin: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    font-family: 'Noto Sans', sans-serif;
}


.card_cadastro input[type="text"],
.card_cadastro input[type="number"]{
    text-align: justify;
    width: 90%;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
}

select{
    text-align: justify;
    width: 90%;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-style: none; 
    font-family: 'Noto Sans', sans-serif;
}

.titulo{
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
}

button{
    width: 40%;
    font-size: 12px;
    padding: 10px;
    margin: 20px;
    background-color: rgba(65,105,225, 0.8)	;
    border-style: none;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
 }

/*Estilização da segunda página (lista dos alunos)*/
/* Estilização da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilo das células de cabeçalho */
th {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Estilo das células de dados */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Estilo das linhas pares (alterne as cores) */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo de destaque ao passar o mouse sobre as linhas */
tr:hover {
    background-color: #d4e6f1;
}
